/*StarsRating - Mini*/

.stars-rating {
	display:inline-block;

	i.material-icons {
		padding-bottom:8px;
		line-height:36px;
		font-size:36px;
		color:$primary-color;
	}
}

.stars-rating.stars-rating-small {
	i.material-icons {
		line-height:24px;
		font-size:24px;
	}
}


/*Details*/
#restaurant-ratings {
	.rating-histogram {
		padding:20px 20px 20px 40px;
	}

	.rating-bar-container {
    	margin-bottom: 2px;
    	color: #737373;
    	height: 23px;
    	font-weight: 400;
    	position: relative;
    	width: 100%;
	}

	.bar-label {
	    font-size: 14px;
	    left: -36px;
	    letter-spacing: 1px;
	    position: absolute;
	    top: 0;
	}

	.bar {
	    opacity: .8;
	    transition: width .25s ease;
	    display: inline-block;
	    height: 100%;
	}

	.bar.r5 {
		background: color("green", "darken-2");
	}
	.bar.r4 {
		background: color("green", "base");
	}
	.bar.r3 {
		background: color("lime", "base");
	}
	.bar.r2 {
		background: color("red", "base");
	}
	.bar.r1 {
		background: color("red", "darken-2");
	}

	.bar-number {
	    color: #333;
	    font-size: 11px;
	    left: 5px;
	    position: absolute;
	    top: 4px;
	}

}