#app .card {

	.card-title.event-host {
		font-size: 18px;
		font-weight:400;
	}

	.card-image{
		@media #{$small-and-down} {
			display:none;
		}
		@media #{$medium-and-down} {
			max-width:30%;
		}

		overflow:hidden;

		img {
		    height: 100%;
		    max-width: 500%;


			@media #{$medium-and-down} {
				transform:translateX(-33%);
			}
		}
	}
	.chip .chip-icon {
	    font-size: 16px;
	    line-height: 32px;
	    padding-right: 8px;
	    float: left;
	}

	.chip .chip-icon.chip-right {
	    float: right;
	    padding-right: 0px;
	    padding-left:8px;
	}


	.collection {
		border:0px none transparent;

		.collection-item {
			line-height: 2rem;
			background-color: transparent;
		}
		.collection-item>i.material-icons{
			float:left;
			line-height:1.9rem;
			padding-right:10px;
			color:$primary-color;
		}
		.collection-item>a{
			margin-right:15px;
		}

		.collection-item:first-child {
			border-top: 1px solid #e0e0e0;
		}
	}

	.event-description {
		font-size:1.5rem;
		text-align:center;
	}
	
}

#restaurant-ratings {
	.rating-histogramm {
		padding:20px 20px 20px 30px;
	}

	.rating-bar-container {
    	margin-bottom: 2px;
    	color: #737373;
    	height: 23px;
    	font-weight: 400;
    	position: relative;
    	width: 100%;
	}

	.bar-label {
	    font-size: 11px;
	    left: -28px;
	    letter-spacing: 1px;
	    position: absolute;
	    top: 4px;
	}

	.bar {
	    opacity: .8;
	    transition: width .25s ease;
	    display: inline-block;
	    height: 100%;
	}

	.bar.r5 {
		background: color("green", "darken-2");
	}
	.bar.r4 {
		background: color("green", "base");
	}
	.bar.r3 {
		background: color("lime", "base");
	}
	.bar.r2 {
		background: color("red", "base");
	}
	.bar.r1 {
		background: color("red", "darken-2");
	}

	.bar-number {
	    color: #333;
	    font-size: 11px;
	    left: 5px;
	    position: absolute;
	    top: 4px;
	}

}
